<launch>
    <arg name="config" default="4WD_Rover_with_SLAM_Pack" />

    <param name="robot_description" 
           command="$(find roverrobotics_description)/scripts/env_run
                    $(find roverrobotics_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find roverrobotics_description)/urdf/4WD_Rover/4WD_rover.urdf.xacro" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
