<?xml version="1.0"?>

<launch>

<group ns="sim1">

<!--
<remap from="/tf" to="/sim1/tf"/>
<remap from="/clock" to="/sim1/clock"/>
<remap from="/filtered_cloud" to="/sim1/filtered_cloud"/>
<remap from="/initialpose" to="/sim1/initialpose"/>
<remap from="/map_updates" to="/sim1/map_updates"/>
<remap from="/move_base/DWAPlannerROS/global_plan" to="/sim1/move_base/DWAPlannerROS/global_plan"/>
<remap from="/move_base/DWAPlannerROS/local_plan" to="/sim1/move_base/DWAPlannerROS/local_plan"/>
<remap from="/clock/move_base/NavfnROS/plan" to="/sim1/clock/move_base/NavfnROS/plan"/>
<remap from="/move_base/global_costmap/costmap" to="/sim1/move_base/global_costmap/costmap"/>
<remap from="/move_base/global_costmap/costmap_updates" to="/sim1/move_base/global_costmap/costmap_updates"/>
<remap from="/move_base/local_costmap/costmap" to="/sim1/move_base/local_costmap/costmap"/>
<remap from="/move_base/local_costmap/costmap_updates" to="/sim1/move_base/local_costmap/costmap_updates"/>
<remap from="/move_base/local_costmap/footprint" to="/sim1/move_base/local_costmap/footprint"/>
<remap from="/move_base_simple/goal" to="/sim1/move_base_simple/goal"/>
<remap from="/particlecloud" to="/sim1/particlecloud"/>
<remap from="/pedbot/control/cmd_vel" to="/sim1/pedbot/control/cmd_vel"/>
<remap from="/pedsim_simulator/simulated_agents" to="/sim1/pedsim_simulator/simulated_agents"/>
<remap from="/pedsim_simulator/simulated_groups" to="/sim1/pedsim_simulator/simulated_groups"/>
<remap from="/pedsim_simulator/simulated_walls" to="/sim1/pedsim_simulator/simulated_walls"/>
<remap from="/pedsim_simulator/simulated_waypoints" to="/sim1/pedsim_simulator/simulated_waypoints"/>
<remap from="/rosout" to="/sim1/rosout"/>
<remap from="/rosout_agg" to="/sim1/rosout_agg"/>
<remap from="/scan" to="/sim1/scan"/>
<remap from="/tf_static" to="/sim1/tf_static"/>
<remap from="/move_base/NavfnROS/plan" to="/sim1/move_base/NavfnROS/plan"/>-->

<remap from="/map" to="/sim1/map"/>
<remap from="/odom" to="/sim1/odom"/>
<remap from="/pedsim_simulator/simulated_agents" to="/sim1/pedsim_simulator/simulated_agents"/>
<remap from="/pedsim_simulator/simulated_groups" to="/sim1/pedsim_simulator/simulated_groups"/>
<remap from="/pedsim_simulator/simulated_walls" to="/sim1/pedsim_simulator/simulated_walls"/>
<remap from="/pedsim_simulator/simulated_waypoints" to="/sim1/pedsim_simulator/simulated_waypoints"/>

<!-- Start hospital world with gazebo server -->
<include file="$(find pedsim_gazebo_plugin)/launch/hospital.launch"/>

<!-- Import robot -->
<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch" />

<!-- Start people simulation -->
<include file="$(find pedsim_simulator)/launch/hospital_corridor_and_room.launch" />

<!-- Start move base -->
<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" />

<!-- Scan to filtered -->
<node pkg="perception" type="scan_to_filtered.py" name="scan_to_filtered" output="screen"/>

<!-- Object tracking -->
<node pkg="multi_object_tracking_lidar" type="kf_tracker" name="kf_tracker" output="screen"/>

</group>

</launch>
