<?xml version="1.0"?>

<launch>

<!-- Start world with gazebo server -->
<include file="$(find cadrl_project)/launch/train/empty_world.launch" >
  <arg name="world_name" value="$(find cadrl_project)/worlds/simple_world/empty.world"/>
</include>

<!-- Import robots -->
<include file="$(find cadrl_project)/launch/multiple_robot_import.launch" />

<!-- Import objects -->
<include file="$(find cadrl_project)/launch/multiple_objects_import.launch" />

<!-- Import goals -->
<include file="$(find cadrl_project)/launch/goals_import.launch" />

<!-- Start object detection module for each robot -->
<include file="$(find cadrl_project)/launch/object_detection/multiple_object_detection.launch" />

<!-- Start server for random initialization of robots, objects, and goals -->
<node pkg="cadrl_project" type="rand_init_complete_service.py" name="rand_init_server" output="screen"/>

<!-- Start node that publishes states ([reached_goal, collision]) of all robots -->
<node pkg="cadrl_project" type="update_states.py" name="update_states" output="screen"/>

<!-- Start CADRL policy for each robot -->
<include file="$(find cadrl_project)/launch/cadrl/multiple_agents_cadrl.launch" />

<!-- Start server for running one simulation (first initializes robots by calling /rand_init_server, then
messages robots for storing their memory at appropiate time (when simulation is over)) -->
<node pkg="cadrl_project" type="one_simulation_service.py" name="one_simulation_server" output="screen"/>

</launch>
